/* Styling of the page */
body{
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.navbar{
    max-width: 800px;
    width: 100%;
    background-color: rgba(200, 0, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item{
    position: relative;
}

.nav-item a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

.nav-item a:hover {
    background-color: rgb(0, 0, 0); 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(200, 0, 0, 0.1);
}

.nav-item a:active{
    background-color: rgb(255, 255, 255);
    color: red; 
    transition: background-color 0.3s;
    transition: color 0.3s;
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute; /* Dropdown doesn't affect surrounding layout */
    top: 100%; /* Position of the nav-item below */
    left: 0;
    display: none;
    background-color: rgba(200, 0, 0);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    z-index: 1; /* To shows the element above */
}

.nav-item:hover .dropdown-menu {
    display: block; 
}

.nav-item:active .dropdown-menu {
    color: red; 
    transition: color 0.3s;
}

.dropdown-menu li {
    list-style-type: none;
}

.dropdown-menu a {
    padding: 10px 15px;
    width: 150px;
}

.dropdown-menu a:hover {
    background-color: rgb(0, 0, 0);
}


/* Responsive Design */
@media (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item a {
        padding: 10px 20px;
    }
}
